.main{
    padding: 50px;

}


.thumb-image{
    width: 50px;
}

.update-image{
    width: 200px;
}

.search-form{
    width: 40%;
}

@media(min-width: 768px) {
    .login-input{
        width: 50%;
    }
}